.text-center{
  text-align: center;
  background-color:orange;
}
.bg-red{
  background-color: yellow;
}
.mx-auto{
  margin: auto;
}
.flex{
  display: flex;
}
.flex-col
{
  flex-direction: column;
}
.item-center{
  align-items: center;
}